# Node
node_modules/*
npm-debug.log

# compiled output
/dist

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Angular
/aot
