<aol-map (onPropertyChange)="onClick($event)" [width]="'500px'" [height]="'500px'">
  <aol-view zoom="13">
    <aol-coordinate [x]="5" [y]="45" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>
  <aol-layer-tile>
    <aol-source-osm></aol-source-osm>
    <!-- <aol-source-bingmaps [key]="'As1HiMj1PvLPlqc_gtM7AqZfBL8ZL3VrjaS3zIb22Uvb9WKhuJObROC-qUpa81U5'"></aol-source-bingmaps> -->
  </aol-layer-tile>
  <aol-layer-vector>
    <aol-source-vector>
      <aol-feature>
        <aol-geometry-point>
          <aol-coordinate [x]="5" [y]="45" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-geometry-point>
        <aol-style>
          <aol-style-icon [src]="'assets/flag.png'" [anchor]="[0.5, -20]" [anchorXUnits]="'fraction'" [anchorYUnits]="'pixels'" [anchorOrigin]="'bottom-left'"></aol-style-icon>
        </aol-style>
      </aol-feature>
    </aol-source-vector>
  </aol-layer-vector>
  <aol-layer-vector>
    <aol-source-vector>
      <aol-feature>
        <aol-geometry-linestring>
          <aol-collection-coordinates [coordinates]="[[5, 45],[5.01, 45.01]]" [srid]="'EPSG:4326'"></aol-collection-coordinates>
        </aol-geometry-linestring>
        <aol-style>
          <aol-style-stroke [color]="[255,0,0,0.8]" [width]="5" [lineDash]="[5,10]"></aol-style-stroke>
        </aol-style>
      </aol-feature>
    </aol-source-vector>
</aol-layer-vector>
  <aol-control-zoomslider></aol-control-zoomslider>
  <aol-control-zoom></aol-control-zoom>
  <aol-control-attribution></aol-control-attribution>
  <aol-control-overviewmap></aol-control-overviewmap>
</aol-map>
