nav {
  display: flex;
}

nav a {
  display: flex;
  color: black;
  border: 1px black solid;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

nav a.active {
  background: lightblue;
}
